.post-table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.container{
  width: 100%;
  height: auto;
  border: 1px solid #000;
}

.post-table td{
  border-bottom: 1px solid #000;
}
table { white-space: nowrap; }

.post-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "----";
  width: 350px;
}

.post-id{
  width: 60px;
}

.post-title{
  width: 100px;
}


.post-category{
  width: 70px;
}
