<div class="container">
    <table class="post-table">
      <tr>
        <th>id</th>
        <th>title</th>
        <th>category</th>
        <th>content</th>
        <th>action</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td class="post-id">
          {{post.id}}
        </td>
        <td class="post-title">
          {{post.title}}
        </td>
        <td class="post-category">
          {{post.category}}
        </td>
        <td class="post-content">
          {{post.content}}
        </td>
        <td>
          <div class="button view">View</div>
        </td>
        <td>
          <div class="button view">Edit</div>
        </td>
        <td>
          <div class="button view">Delete</div>
        </td>

      </tr>
    </table>
  </div>
